# Install PyTorch separately with the CUDA 11.8 wheel as my GPU is GTX 1650TI 
torch==2.2.2
torchvision==0.17.2


segmentation-models-pytorch==0.3.4
timm==0.9.16


tifffile==2024.5.10
imagecodecs==2024.1.1
Pillow==10.3.0


albumentations==1.4.4
opencv-python-headless==4.9.0.80


numpy==1.26.4
scikit-learn==1.4.2
scipy==1.13.0
matplotlib==3.8.4
tqdm==4.66.4
PyYAML==6.0.1


tensorboard==2.16.2
